*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.container{
    background: #202020;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.container2{
    background: #202020;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px 0;
}
.home{
    width: 40px;
}
ul li{
    display: inline-block;
}
ul li a{
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
.content .text{
    width: 40%;
    color: #fff;
}
.content .text h2{
    font-size: 40px;
    text-transform: uppercase;
}
.content .text p{
    font-size: 18px;
    margin: 20px 0;
}
.content .text a{
    text-decoration: none;
    background: #fff;
    color: #000;
    padding: 8px 15px;
    border-radius: 20px;
}
.content .image{
    width: 30%;
}
.content .image img{
    width: 180px;
}
.icons{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.icons img{
    width: 40px;
    transition: 0.5s;
    cursor: pointer;
}
.icons img:hover{
    transform: scale(1.9);
}
.fas{
    color: #202020;
    cursor:context-menu;
    background-color: #202020;
}
::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background-color: hsl(120, 75%, 50% );
    margin-block: .5em;
}

::-webkit-scrollbar-thumb {
    background-color: hsl(120, 100%, 20% );
    border: .25em solid hsl(120, 75%, 50% ); ;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(120, 100%, 10%);
}
.lang-menu {
    width: 100px;
    text-align: right;
    font-weight: bold;
    margin-top: 25px;
    position: relative;
}
.lang-menu .selected-lang {
    display: flex;   
    justify-content: space-between;
    line-height: 2;
    cursor: pointer;
}
.lang-menu .selected-lang:before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(https://www.countryflags.io/us/flat/32.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.lang-menu ul {
    margin: 0;
    padding: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    position: absolute;
    top: 45px;
    right: 0px;
    width: 125px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}

.lang-menu ul li {
    list-style: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.lang-menu ul li a {
    text-decoration: none;
    width: 125px;
    padding: 5px 10px;
    display: block;
}

.lang-menu ul li:hover {
    background-color: #f2f2f2;
}

.lang-menu ul li a:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}

.de:before {
    background-image: url(https://www.countryflags.io/de/flat/32.png);
}

.en:before {
    background-image: url(https://www.countryflags.io/us/flat/32.png);
}
.fr:before {
    background-image: url(https://www.countryflags.io/fr/flat/32.png);
}

.ar:before {
    background-image: url(https://www.countryflags.io/ae/flat/32.png);
}


.lang-menu:hover ul {
    display: block;
}